@import "vars";
@import "reset";
@import "mixins";



html{
    font-size: 14px;
    width: 100%;
}

*::after,
*::before{
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 14px;
    background: #FCFCFC;
    color: #fff;

    line-height: 1.5;
}

body.lock{
    overflow: hidden;
}


a{

    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover{
        text-decoration: underline
    }
}


//bloсks

@import "blocks/container";
@import "blocks/blog";
@import "blocks/slider";


