//color
$color_01: #4A4A4F;



//media

$tablet-365: 1365px;
$tablet-250: 1250px;
$tablet-195: 1195px;
$tablet-110: 1110px;
$tablet-105: 1050px;
$tablet-bp: 991px;
$tablet-81: 801px;
$mobile-bp: 768px;
$mobile-64: 640px;
$mobile-63: 630px;
$mobile-56: 560px;
$mobile-52: 520px;
$mobile-br: 450px;
$mobile-36: 360px;
$mobile-32: 320px;

