.slider__block {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px;
    @include breakpoint($mobile-bp) {
        justify-content: center;
    }

}

.slider__carusel-block {
    max-width: 320px;

    height: 472px;

    border: 1px solid #E1E1E6;
    margin: 32px 16px 30px 0px;

    overflow: scroll;
    cursor: pointer;
    transition: all .3s;

    &:hover{
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
    }

    @include breakpoint($mobile-br) {
        max-width: 100%;
        &:last-child{
            margin: 32px 0px 30px 0px;
        }
    }

}

.slider__carusel-img {
    width: 100%;
    height: auto;
    display: block;

}


.slider__carusel-text {
    height: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: $color_01;
    margin: 26px 32px 0 32px;
    overflow: scroll;
}

.slider__carusel-url{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* UI/Primary */

    color: #2244CC;
    margin: 24px 0 0 0;

}

.slider__carusel-text::-webkit-scrollbar {
    width: 1px;
}

.slider__carusel-text:-webkit-scrollbar-track {
    background: black;
    margin: 0;
    padding: 0;
  }

  .slider__carusel-text::-webkit-scrollbar-thumb {
    background-color: #2244CC;
    margin: 0;
    padding: 0;
  }



  .slider__carusel-block::-webkit-scrollbar {
    width: 0px;

}

.slider__carusel-block:-webkit-scrollbar-track {
    margin: 0;
    padding: 0;
  }

  .slider__carusel-block::-webkit-scrollbar-thumb {
    margin: 0;
    padding: 0;
  }




/*РАБОТА СО СЛАЙДЕРОМ*/

.slick-arrow {
    display: none;
    width: 44px;
    height: 44px;
    font-size: 0;
    /*чтобы стрелки были по центу*/
    color: transparent;

    border: 0;
    background: white;

    cursor: pointer;

    position: absolute;
    /*делаем стрелки для слайда*/
    top: 45%;
    z-index: 1;
    transform: translateY(-50%);

    @include breakpoint($mobile-br) {
        visibility: visible;
        width: 0;
        opacity: 0;
        height: 0;
    }

}

.slick-arrow:after {
    content: "";

    display: block;
    width: 9px;
    height: 9px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(41deg);
    position: absolute;

    top: 43%;
    right: 41%;

}


.slick-arrow::before{
    content: "";
    display: block;
    width: 15px;
    height: 12px;

    border-left: 1px solid #353545;
    transform: rotate(0deg);

    position: absolute;
    left: 21px;
    top: 17px;

    margin: 0 auto;
    transition: all .3s;


 }


.slick-prev {
    left: -25px;
    transform: rotate(-90deg);

}

.slick-next {
    right: -15px;
    transform: rotate(90deg);
}

.slick-dots{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 15px;
    list-style: none;

    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}


.slick-dots button{
    display: none;
    width: 16px;

    border: 2px solid #191928;
    opacity: 0.5;

    cursor: pointer;

    font-size: 0;
    padding: 0;
    margin-left: 8px;
    transition: all  .5s;

    &::before{
        content: "";

        position: absolute;
        top: 50%;
        left: -1px;

        border-radius: 50%;
        transform: translate(0px, -50%);

    }

    @include breakpoint($mobile-br) {
        display: block;
    }
}



.slick-dots .slick-active button{
    width: 24px;
    border: 2px solid #2244CC;
    opacity: 1;

    position: relative;
}






